DB_POSTGRES_HOST=localhost
DB_POSTGRES_PORT=5432
DB_POSTGRES_CORE=coredb
DB_POSTGRES_USER=
DB_POSTGRES_PASSWORD=
DB_POSTGRES_SSLMODE=require

DB_NEO4J_URI=bolt://localhost:7687
DB_NEO4J_USER=neo4j
DB_NEO4J_PASSWORD=
DB_NEO4J_FEED=feeddb

SYNC_BATCH_SIZE=500
SYNC_LOCK_LEASE_SECONDS=900
SYNC_MIN_DOMAIN_RETENTION_RATIO=0.5
NEO4J_WAIT_SECONDS=300
